@import "../../../../.local/share/omarchy/default/walker/themes/omarchy-default/style.css";


/* ────────────────────────────────────────────────────────────
 * Custom Theme for Walker
 * ────────────────────────────────────────────────────────────
 */
window * {
    all: unset;
    color: @text;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

window .normal-icons,
window .large-icons,
window .item-image,
window .symbols {
    -gtk-icon-size: 18px;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    display: none;
}

window .box-wrapper {
    background: alpha(@base, 1);           /* dark transparency */
    border: 2px solid alpha(@border, 0.9);    /* visible border */
    border-radius: 5px;
    padding: 6px;
    margin: 0;
    box-shadow: 0 2px 12px alpha(@base, 0.45);
    backdrop-filter: blur(1px);
    line-height: 10%;
}

window .search-container {
    border: 2px solid alpha(@border, 0.15);
    border-radius: 3px;
    padding: 4px 6px;
    margin: 0;
    background: alpha(@border, 0.08);
    box-shadow: inset 0 0 4px alpha(@border, 0.05);
    backdrop-filter: blur(1px);
    line-height: 1em;
}


window .input {
    background: transparent;
    color: @text;
  padding: 2px 10px;
}

window .preview {
    border: 0px solid alpha(@border, 0);
    border-radius: 4px;
    background: alpha(@base, 0.5);
    color: @text;
    padding: 10px 10px 10px;
    margin: 10px 0px 10px;
    box-shadow: inset 0 0 8px alpha(@text, 0);
    backdrop-filter: blur(8px);
    line-height: 1em;
}

child {
  padding: 0px;
}

child:selected {
    margin: 0px;
    padding: 0px;
    border: 2px solid alpha(@border, 0.4);
    border-radius: 4px;
    background-color: mix(@border, @background, 0.8);
    transition: all 0.15s ease-out;
    transition: background-color 0s ease-out;
    box-shadow:
        0 0 1px alpha(@border, 0.1),
        0 0 1px alpha(@border, 0.1);
}
child:selected .item-box {

    margin-left: 0px;
    margin-top: 3px;

}

/* Revert Selected Item Color */
child:selected .item-box * {
    color: @selected-text;
}
