# Ignore everything
*

# But not these directories
!nvim/
!nvim/**

!hypr/
!hypr/**

!scripts/
!scripts/**

!monitor-auto-switch/
!monitor-auto-switch/**

!alacritty/
!alacritty/**

!uwsm/
!uwsm/**

!README.md

# Don't ignore .gitignore itself
!.gitignore
