# Ignore everything
*

# But not these directories
!nvim/
!nvim/**

!hypr/
!hypr/**

!scripts/
!scripts/**

!monitor-auto-switch/
!monitor-auto-switch/**

!alacritty/
!alacritty/**

!uwsm/
!uwsm/**

!alactritty/
!alacritty/**

!omarchy/
!omarchy/themes/black
!omarchy/branding


!mpv/
!mpv/**

!systemd/
!systemd/**

!README.md

# Don't ignore .gitignore itself
!.gitignore
