
{{- $laptop := index .MonitorsByTag "laptop" -}}
{{- $external := index .MonitorsByTag "external" -}}

{{if isLidClosed}}
monitor={{$laptop.Name}},disable
{{else}}
monitor={{$laptop.Name}},{{.default_res}}@{{.refresh_rate_high}},auto,{{.default_scale}},vrr,{{.default_vrr}}
{{end}}

monitor={{$external.Name}},2560x1440@144.01, auto, 1, vrr, 2, cm, auto
