{{- $laptop := index .MonitorsByTag "laptop" -}}
{{- $external := index .MonitorsByTag "external" -}}

{{if isLidClosed}}
monitor={{$laptop.Name}},disable
{{else}}
monitor={{$laptop.Name}},{{.default_res}}@{{.refresh_rate_high}},auto-down,{{.default_scale}},vrr,{{.default_vrr}}
{{end}}

monitor={{$external.Name}},2560x1440@170,auto-up,1.00,vrr,1
