{{- $laptop := index .MonitorsByTag "laptop" -}}
monitor={{$laptop.Name}},{{.default_res}}@{{if isOnAC}}{{.refresh_rate_high}}{{else}}{{.refresh_rate_low}}{{end}},0x0,{{.default_scale}},vrr,{{.default_vrr}}
