[Unit]
Description=Monitor Refresh Rate Manager Timer
Requires=monitor-refresh-rate.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec

[Install]
WantedBy=timers.target
